
/* FORUM CSS */

.forum-post-card {
font-size: 25px;
}

.subforums-forum-posts {
    padding: 15px;
}

.forum-post-title {
    text-decoration: underline;
    font-size: 40px;
}

.forum-comment-card {
    text-decoration: none;
    width: 20%;
}

.forum-post-card-body{
    margin-left: 40px;
}

.forum-post-link-position{
    text-align: center;
}

.postforumlink{
    text-align: center;
    text-decoration: none;
    background-color: black;
}

.subforum-title {
    padding: 15px;
    font-size: 40px;
    font-weight: bold;
}

.forum-header-title {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 75px;
}

.forums-list {
    border: 5px solid black;
    margin: 20px;
    margin-bottom: 40px;
}

.forum-card {
    text-decoration: none;
    display: inline;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.forum-card:hover{
    color:black;
}

.forum-title {
    font-size: 75px;
    color: black;
    padding: 20px;
}

.forum-title-length {
    font-size: 50px;
    color: black;
    padding: 20px;
    margin-top: 15px;
}
.length-alighment {
    text-align: right;
}

.homepagefooter-subforum {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
}

.footer-position {
    position:relative;
    bottom:0;
    width:100%;
    height:60px;
}

.no-subforums {
    margin-top: 350px;
    font-size: 30px;
    text-align: center;
}

.subforum-form-style {
    margin-top: 20px;
    border-top-style: solid;
    border-top-width: 5px;
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.subforum-form-title {
    text-decoration: underline;
}

.subforum-forum-submit {
   text-align: center;
}

.subforum-form-wrapper {
    border: 2px solid black;
    border-radius: 6px;
}

/* Listings Style */

.search-term {
    width: 50px;
}

.listing-slider {
    margin-left: 40px auto;
}

.image-input {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.image-preview-size {
    width: 450px;
}

.text-input {
    padding-top: 15px;
    padding-bottom: 15px;
}

.listings-form {
    padding: 15px;
}

.wrapper-extra-css {
    border: 2px solid black;
    border-radius: 6px;
}

.page-style {
    border-bottom: 4px solid black;
    padding-bottom: 20px;
}

.go-back-button-listing-form {
    padding-bottom: 50px;
}

.listing-submit-button {
    background-color: white;
    border: 2px solid black;
    color: #363636;
    font-weight: bold;
}
.listing-submit-button:hover {
    background-color: black;
    color: white;
}

.listing-input {
    padding-top: 20px;
}
.listing-input-last {
    margin-bottom: 20px;
    color: #363636;
    /* display: block; */
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
    padding-top: 20px;
}

.listing-label {
    color: #363636;
    /* display: block; */
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 8px;
    padding-top: 20px;
}

.description-listing-detail {
    line-height: 40px;
    text-align: justify;
}

.listing-delete-button {
    margin-top: 10px;
}

/* User Account */

.accountpagecontainer {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 8%;
}

.accountlinkscontainer {
    width: 5%;
    margin-left: 27.5%;
    float: left;
    top: 0;
    bottom: 0;
}

.accountformcontainer {
    width: 40%;
    margin-right: 18%;
    padding-left: 5%;
    float: right;
    top: 0;
    bottom: 0;
    border-left: 3px solid #000;
}

.accountheader {
    letter-spacing: 1px;
    text-decoration: overline;
}

.accountp {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
}

.accountsavedp {
    text-align: center;
    font-size: 50px;
    margin-left: 10px;
    width: 100%;
}

.accountinput {
    padding: 10px;
    font-size: 15px;
    width: 80%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Corbert, Arial, Helvetica, sans-serif;
}

.accountinputdiv {
    margin: 10px;
}

.accountlink {
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 20px;
    border: none;
    text-decoration: none;
}

.accountlink:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.accountlinkdiv {
    margin-bottom: 10px;
}

.accountbuttoncenter{
    text-align: center;
}

.accountbutton {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 40%;
    background-color: rgb(0, 0, 0);
    border: 2px solid #000;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.accountbutton:hover {
    background-color: white;
    color: #000;
    border: 2px solid #000;
}

/* About Page */

.homepageh2signedoutabout{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 400px;
    /* padding-top: -5px; */
    letter-spacing: 1px;
  }

  .homepagesignedoutleftabout {
    position: relative;
    padding-top: 80px;
    z-index: 90;
    text-align: center;
    /* padding-left: 80px;
    width: 371px;
    height: 382px; */
  }

  .signupinput {
      width: 20%;
  }

  .signupformcontainer {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    float: center;
    top: 0;
    bottom: 0;
    /* border-left: 3px solid #000; */
}

.signupinput {
    padding: 10px;
    font-size: 15px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Corbert, Arial, Helvetica, sans-serif;
}